<footer class="text-center text-white mt-4" style="background-color: #BB8763">
    <hr class="text-dark">
    
    <div class="container">
      <!-- Section: Social media -->
      <section class="mb-3">
        
        <!-- Facebook -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark">
          <i class="fab fa-facebook-f"></i>HeStyle Official
        </a>
  
        <!-- Twitter -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i></a>HeStyle Official
  
        <!-- Google -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-google"></i></a>HeStyle Official
  
        <!-- Instagram -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i></a>@hestyleofficial
  
        <!-- YouTube -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-youtube"></i></a>HeStyle Official
        <!-- Tiktok -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-tiktok"></i></a>@HeStyleOfficial
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); text-color: #E0E0E0">
      © <script>document.write(new Date().getFullYear());</script>
      HeStyle | Thank You For Visiting Us <i class="fas fa-heart text-danger"></i>
    </div>
    <!-- Copyright -->
  </footer>